<div class="general_container">
  <% @target.each do |item| %>
    <div class="general_box">
      <div class="general_category"><span><%= item.category2_ja %><span></div>
      <div class="general_description"><span><%= item.description_ja %><span></div>
    </div>
  <% end %>
</div>


  