<div class="container">
  <div class="whether_area">
  <h2>セブの天候</h2>
  <p><span class="material-icons">wb_sunny</span> 12月中旬～5月下旬   <span class="material-icons">wb_cloudy</span> 6月初旬～12月初旬</p>
  <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </div>
</div>